
<script type="text/javascript">
    $(function(){
        $("a", ".list_edit_container").button();
		
        $(".list_update_submit").click(function(event){
            $('#list_update_spinner' + $(this).attr("id")).show();
            event.preventDefault();
            $.put($(this).attr("href"), $("#list_update_form" + $(this).attr("id")).serialize(), function(data){
                return false;
            });
        });
        
        $(".list_delete").click(function(event){
            event.preventDefault();
            $.delete_($(this).attr("href"), $("#list_form").serialize(), function(data){
                return false;
            });
        });
    });
</script>

<div class="list_edit_container" id="block">
	<%= image_tag 'loading.gif', :size=>"20x20", :id=>"list_update_spinner#{@list.id}", :style=>"float:right; display:none;" %><br />
    <form id="list_update_form<%= @list.id %>">
        <p>
            <table align="center" cellpadding='5' cellspacing='0'><tr>
            	<td><label for="list_name<%= @list.id %>">Name:</label></td>
            	<td><input id="list_name<%= @list.id %>" name="list[name]" size="40" type="text" value="<%= @list.name %>" /></td>
				<td><div id="list_update_name<%= @list.id %>"></div></td>
			</tr>
        	<div class="ui-state-error list_update_name_error<%= @list.id %>" style="display:none; width:400px; margin-left:55px"></div>
		</p>
        <p>
            <tr>
            	<td><label for="list_feeds_by_id<%= @list.id %>">Feeds:</label></td>
            	<td><% feeds = @list.get_feeds(@list.id) %>
					<% if(feeds.empty?) %>
						None
					<% else %>
						<% (feeds).each{ |feed_id| %>
						<% feed = Feed.find(feed_id) %>
            			<%= check_box_tag 'feeds[]', feed.title, true %>
            			<%=h feed.title %><br />
						<% } %>
					<% end %></td>
				<td><div id="list_update_feeds<%= @list.id %>"></div></td>
			</tr></table>
        	<div class="ui-state-highlight list_update_feeds_error<%= @list.id %>" style="display:none; width:400px; margin-left:55px"></div>
		</p>
        <p>
            <%= link_to 'Update', list_path(@list), :id => @list.id, :class => "list_update_submit" %>
            <%= link_to 'Delete', list_path(@list), :confirm => 'Are you sure?', :class => "list_delete" %>
        </p>
    </form>
</div>