
<%= javascript_include_tag 'page_load' %>

<%= image_tag 'loading.gif', :id=>'spinner',
:style=>"float:right;" %>

<!-- Buttons -->
<script type="text/javascript">
    $(function(){
        $("a", ".button_style").button();
    });
</script>

<div id="container">
	<div id="header">
		<h1>news-aggregator</h1>
		<table><tr>
			<td><div class="button_style"><%= link_to 'Clusters', clusters_path(), :class => "view_clusters_pane" %></div></td>
			<td><div class="button_style"><%= link_to 'Newsfeed', rss_entries_path(), :class => "view_rss_entries_pane" %></div></td>
			<td><div class="button_style"><%= link_to 'Lists & Feeds', lists_path(), :class => "view_lists_pane" %></div></td>
		</tr></table>
	</div>
    <div id="content">
		<%= render :partial => 'index_lists' %>
	</div>
	<!--<div id="footer">
		<%#= render :partial => 'footer' %>
	</div>-->
</div>