
<%= javascript_include_tag 'page_load' %>
<%= javascript_include_tag 'feeds_editor' %>

<!-- Buttons -->
<script type="text/javascript">
    $(function(){
        $("a", ".button_style").button();
    });
</script>


<div id="top_user_bar" class="styled_link">
<span>Signed in as: <%= current_user.email %> | <%= link_to 'Account Settings', edit_user_registration_path, :class => 'styled_link' %> | <%= link_to 'Logout', destroy_user_session_path, :class => 'styled_link' %></span>
</div>
<%= image_tag 'loading.gif', :id=>'spinner',
:style=>"float:right; background-attachment: fixed; padding:5px;" %>
<div id="container">
	<div id="header">
		<h1>NewsEngage</h1>
		<div id="header_bar">
			<%= render :partial => 'rss_entries/header_bar_alt' %>
		</div>
	</div>
  <div id="content" class='ajaxWrapper'>
    <div class='pane_container' id='list_pane'>
        <%= render :partial=>'lists_pane' %>
    </div>
    <div class='pane_container' id='middle_pane'>
        <%= render :partial=>'middle_pane' %>
    </div>
  </div>
</div>