
<%= javascript_include_tag 'feeds_editor' %>

<script type="text/javascript">
    $(function(){
        $("#feed_pane").corner("tl");
		$("#feeds_title").corner("tl");
    });
</script>

<div class="feed_list_bar_title" id="feeds_title">
    Feeds
</div>
<div class="right_bar_data" id="feeds_pane">
<% if @feeds.size == 0 %>
<p>No feeds to display.</p>
<% else %>
<% for feed in @feeds %>
<script type="text/javascript">
	$(document).ready(function(){
        $('#feed_<%= feed.id %>').click(function(){
			event.preventDefault();
        	$.get($(this).attr("link"), function(data){
			 	return false;
         	});
        });
    });
</script>
<div class="list_container open_container" id="feed_<%= feed.id %>" link="<%= edit_feed_path(feed) %>"><%=h feed.title %></div>
<% end %>
<br />
<% end %>
<%= link_to '<span class="ui-icon ui-icon-circle-plus" style="float:left;"></span>Add a Feed', new_feed_path, :class => "feed_new_submit" %>
</div>