
<script type="text/javascript">
    $(function(){
        $("a", ".feed_edit_container").button();
		
        $(".feed_update_submit").click(function(event){
            $('#feed_update_spinner' + $(this).attr("id")).show();
            event.preventDefault();
            $.put($(this).attr("href"), $("#feed_update_form" + $(this).attr("id")).serialize(), function(data){
                return false;
            });
        });
        
        $(".feed_delete").click(function(event){
            event.preventDefault();
            $.delete_($(this).attr("href"), $("#feed_form").serialize(), function(data){
                return false;
            });
        });
    });
</script>

<div class="feed_edit_container" id="block">
	<%= image_tag 'loading.gif', :size=>"20x20", :id=>"feed_update_spinner#{@feed.id}", :style=>"float:right; display:none;" %><br />
    <form id="feed_update_form<%= @feed.id %>">
        <p>
            <table align="center" cellpadding='5' cellspacing='0'><tr>
            	<td><label for="feed_title<%= @feed.id %>">Title:</label></td>
            	<td><input id="feed_title<%= @feed.id %>" name="feed[title]" size="40" type="text" value="<%= @feed.title %>" /></td>
				<td><div id="feed_update_title<%= @feed.id %>"></div></td>
			</tr>
        	<div class="ui-state-error feed_update_title_error<%= @feed.id %>" style="display:none; width:400px; margin-left:55px"></div>
		</p>
        <p>
            <tr>
            	<td><label for="feed_uri<%= @feed.id %>">URL:</label></td>
            	<td><input id="feed_uri<%= @feed.id %>" name="feed[uri]" size="40" type="text" value="<%= @feed.uri %>" /></td>
				<td><div id="feed_update_uri<%= @feed.id %>"></div></td>
			</tr></table>
        	<div class="ui-state-error feed_update_uri_error<%= @feed.id %>" style="display:none; width:400px; margin-left:55px"></div>
		</p>
        <p>
            <%= link_to 'Update', feed_path(@feed), :id => @feed.id, :class => "feed_update_submit" %>
            <%= link_to 'Delete', feed_path(@feed), :confirm => 'Are you sure?', :class => "delete" %>
        </p>
    </form>
</div>