
<%= javascript_include_tag 'feeds_editor' %>

<script type="text/javascript">
    $(function(){
        $("#feed_pane").corner();
		$(".right_bar_title").corner("top");
		$(".right_bar_data").corner("bottom");
    });
</script>

<div class="right_bar_title">
    Feeds
</div>
<div class="right_bar_data">
<% if @feeds.size == 0 %>
<p>No feeds to display.</p>
<% else %>
<% for feed in @feeds %>
<script type="text/javascript">
    $(function(){
		$("#draggable_feed_<%= feed.id %>").draggable({ revert: true, opacity: 0.75, appendTo: 'body', helper: 'clone', distance: 5});

        $("a", ".toggle_container").button();
        
        $("a", ".toggle_container").click(function(){
            return false;
        });
    });
</script>
<div class="list_container move_container" id="draggable_feed_<%= feed.id %>"><%=h feed.title %></div>
<%= link_to 'Edit', edit_feed_path(feed), :id => feed.id, :class => "feed_edit_submit" %>
<% end %>
<br />
<% end %>
<%= link_to 'Add a Feed', new_feed_path, :class => "feed_new_submit" %>
</div>