<!--<table border="1">
  <tr>
    <th>List of articles</th>
    <th>Spot matches</th>
  </tr>

<%# @clusters.each do |cluster| %>
  <tr>
    <td width="500"><%#= cluster.get_sorted_articles(cluster) %></td>
    <td><%#=h cluster.spot_matches %></td>
    <td><%#= link_to 'Show', cluster %></td>
    <td><%#= link_to 'Edit', edit_cluster_path(cluster) %></td>
    <td><%#= link_to 'Destroy', cluster, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%# end %>
</table>-

<br />-->

<%#= link_to 'New cluster', new_cluster_path %>

<table cellpadding="1" id="report" width="100%">
  <tr>
  	<th width="15%">Source</th>
    <th width="62%">Title</th>
    <th width="23%">Published</th>
  </tr>
</table>

<% row = 1 %>
<% for cluster in @clusters %>
<script type="text/javascript">
    $(document).ready(function(){
        $('#arrow-toggle<%= cluster.id %>').click(function(){
            $('.table_entry<%= cluster.id %>').slideToggle(400);
            return false;
        });
    });
</script>
<div style="border: 1px solid #999;">
<% if(row%2==0) %><table id="table_row_even">
<% else %><table id="table_row_odd">
<% end %>
  <tr>
  	<% leader = cluster.get_leader(cluster) %>
  	<td width="15%"><%=h leader.source %></td>
    <td width="62%"><a target='_blank' href ='<%=h leader.link %>'><%=h leader.title %></a></td>
    <td width="23%"><%=h leader.published.strftime("%m/%d/%Y")%> at <%=h leader.published.strftime("%I:%M%p") %></td>
  </tr>
	<% cluster.get_followers(cluster, false).each { |article| %>
	<tr><td><%= article.source %></td>
	<td><a target='_blank' href ='<%=h article.link %>'><%=h article.title %></a></td>
	<td><%=h article.published.strftime("%m/%d/%Y")%> at <%=h article.published.strftime("%I:%M%p") %></td></tr>
	<% } %>
  <tr><td colspan='4'><%= cluster.get_matches(cluster).join(" || ") %></td></tr>
</table>
</div>
<br />
<% row+=1 %>
<% end %>