<h1>Listing favorite rss_entries</h1>

<table>
  <tr>
  	<th>Source</th>
    <th>Title</th>
    <th>Published</th>
    <th>Description</th>
    <!--<th>Data</th>-->
	<th>Hidden</th>
  </tr>

<% @rss_entries.sort_by { |item| item.published }.reverse.each do |rss_entry| %>
  <tr>
  	<td><%=h rss_entry.source %></td>
    <td><a target='_blank' href ='<%=h rss_entry.link %>'><%=h rss_entry.title %></a></td>
    <td><%=h rss_entry.published %></td>
    <td><%=h rss_entry.description %></td>
    <!--<td><%=h rss_entry.data %></td>-->
    <td><%=h rss_entry.hidden %></td>
    <td><%= link_to 'Show', rss_entry %></td>
	<td><%= link_to 'Edit', edit_rss_entry_path(rss_entry) %></td>
    <td><%= link_to 'Destroy', rss_entry, :confirm => 'Are you sure?', :method => :delete %></td>	<!-- TODO remove article from list permanently -->
  </tr>
<% end %>
</table>

<br />

<!-- TODO: Remove -->
<%= link_to 'Back', rss_entries_path %>