<%= stylesheet_link_tag 'scaffold' %>

<div id="top_user_bar" class="styled_link">
	<span></span>
</div>
<div id="container">
	<div id="header">
		<h1>NewsEngage</h1>
	</div>
    <div id="content" align="center">
    	<div class="form_box" style="width:490px">

		<div class="form_title"><h3>Sign up</h3></div>
		<div class="form_data">
		<% form_for resource_name, resource, :url => registration_path(resource_name) do |f| -%>
		  <%= f.error_messages %>
		  <table cellspacing="10"><tr>
		  <td><%= f.label :email %></td>
		  <td><%= f.text_field :email, :size => 40 %></td>
		  </tr><tr>
		  <td><%= f.label :password %></td>
		  <td><%= f.password_field :password, :size => 40 %></td>
		  </tr><tr>
		  <td><%= f.label :password_confirmation %></td>
		  <td><%= f.password_field :password_confirmation, :size => 40 %></td>
		  </tr></table>
		  <p><%= f.submit "Sign up" %></p>
		<% end -%>

		<%= render :partial => "shared/devise_links" %>
		</div>
		</div>
	</div>
</div>