<div class="right_bar_title">
    Feeds
    <div style="display:block;float:right;">
        <span id="move_icon" class="ui-state-default ui-corner-all ui-icon ui-icon-arrow-4"></span>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("a", ".toggle_container").button();
        
        $("a", ".toggle_container").click(function(){
            return false;
        });
    });
</script>
<!--<div class="right_bar_data">-->
    <% for feed in @feeds %>
    <!--<span id="edit_feeds-tag" class="ui-state-default ui-corner-all ui-icon ui-icon-wrench" style="display:none;"></span>-->
    <h4 class="trigger"><a class ="link_to_nowhere" href="#"><%=h feed.title %></a></h4>
    <div class="toggle_container" id="block">
            <% remote_form_for :feed, feed, :url => {:controller => 'feeds', :action => 'update', :id => feed.id}, :html => { :method => 'put' }, :before => "Element.show('spinner')", :complete  => "Element.hide('spinner')" do |f| %>
            <%= f.error_messages %>
            <p>
                <%= f.label :title %>
                <br/>
                <%= f.text_field :title, :size=>"22" %>
            </p>
            <p>
                <%= f.label :url %>
                <br/>
                <%= f.text_field :uri, :size=>"22" %>
            </p>
            <p>
                <%= f.submit 'Update' %>
            </p>
            <% end %>
			<a href="#">Delete</a>
			<%= link_to 'Destroy', feed, :confirm => 'Are you sure?', :method => :delete %>
    </div>
    <% end %>
<!--</div>-->
<a href="#" id="new_feed-toggle">Add a new feed</a>

<div id="new_feed_tag" class="toggle_container" style="display:none; padding:3px; background:#ddd; width=200px"> 
    <div class="block">
    
    <form id="feed_form" >
    	<!--<div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="4hWoOR1Hdqi4vEqzt0uM+wEn+JG70oqLLsY4iZzso9w=" /></div>-->
    <p> 
        <label for="feed_title">Title:</label> 
        <br/> 
        <input id="feed_title" name="feed[title]" size="22" type="text" />
		<label class="error" for="feed_title" id="feed_title_error">This field is required.</label> 
    </p> 
    <p> 
        <label for="feed_uri">URL:</label> 
        <br/> 
        <input id="feed_uri" name="feed[uri]" size="22" type="text" />
		<label class="error" for="feed_uri" id="feed_uri_error">This field is required.</label> 
    </p> 
    <p> 
        <!--<input class="feed_submit" name="commit" type="submit" value="Create" />-->
		<%= link_to 'Create', "/feeds/create", :class => "new_feed_submit" %>
    </p> 
    </form> 
	</div>
</div> 
