<div class="right_bar_title">
    View
    <!--<div style="display:block;float:right;">
        <span id="move_icon" class="ui-state-default ui-corner-all ui-icon ui-icon-arrow-4"></span>
    </div>-->
</div>
<div class="right_bar_data">
	<form id="list_selector">
    	<select name="list_id" onchange="set_list()">
    	    <option value="0">All Feeds</option>
     	    <% for list in @lists %>
      		<option value="<%= list.id %>" <% if cookies[:list] == "#{list.id}" %>selected="selected"<% end %>><%= list.name %></option>
    	    <% end %>
    	</select>
		<div class="button_style"><%= link_to 'Change', rss_entries_path(), :class => "set_list" %></div>
	</form>
	<br />
	<div id="radio">
	<%= link_to 'Normal View', rss_entries_path(), :view => "normal", :class => "view_entries" %><br />
	<%= link_to 'All Articles', rss_entries_path(), :view => "all", :class => "view_entries" %><br />
    <%= link_to 'Favorite Articles', rss_entries_path(), :view => "favorite", :class => "view_entries" %><br />
	<%= link_to 'Hidden Articles', rss_entries_path(), :view => "hidden", :class => "view_entries" %><br />
	</div>
<br/>
<a href="#" id="more_views-toggle">More</a>
<div id="more_views_tag" style="display:none; padding:3px; background:#ddd;">
	<%= link_to 'Update Articles', "#{rss_entries_path()}/update_articles", :view => "normal", :class => "get" %><br />
	<%= link_to 'Cluster Articles', "#{rss_entries_path()}/cluster_articles", :view => "normal", :class => "get" %><br />
	<%= link_to 'Readability', "#{rss_entries_path()}/readability", :view => "normal", :class => "get" %><br />
    For testing only: <%= link_to 'New rss_entry', new_rss_entry_path %>
</div>
</div>