<%= javascript_include_tag 'article_list' %>

<script type="text/javascript">
	$(function() {
		$(".right_bar_title").corner("top");
		$("#radio").buttonset();
		$("a", ".button_style").button();
	});
</script>

<script type="text/javascript">
	$(function() {
		$(".list_id").button().click( function() {
			}).next().button( {
				text: false,
				icons: {
					primary: "ui-icon-triangle-1-s"
				}
			}).click( function(event) {
				var menu = $(this).parent().next().show()
				$('a.select_list').click(function(event) {
					menu.hide();
                    event.preventDefault();
         			$.get("/rss_entries", {
						list_id: $(this).attr("id")
					}, function(data){
			 			return false;
         			});
				});
				return false;
			}).parent().buttonset().next().hide().menu();
	});
</script>
<style>
    .ui-menu {
        position: absolute;
        list-style: none;
        display: block;
    }
    
    .submenu ul {
        border: solid 1px #c9dea1;
        border-top: none;
        background: #FFFFFF;
        position: relative;
        top: 4px;
        width: 150px;
        padding: 6px 0;
        clear: both;
        z-index: 2;
        display: none;
    }
    
    .submenu li {
        background: none;
        display: block;
        float: none;
        margin: 0 6px;
        border: 0;
        height: auto;
		width: auto;
        line-height: normal;
        border-top: solid 1px #DEDEDE;
    }
    
    .submenu li a {
        background: none;
        display: block;
        float: none;
        padding: 6px;
        margin: 0;
        border: 0;
        height: auto;
        color: #105cbe;
        line-height: normal;
    }
    
    .submenu li a:hover {
        background: #e3edef;
    }
</style>
	
<div class="right_bar_title">
  <table><tr><td>
  <div id="radio">
  	<input type="radio" name="radio" id="radio1" value="normal" <% if(cookies[:view] && cookies[:view] == "normal") %>checked="checked"<% end %> /><label for="radio1">Normal View</label>
	<input type="radio" name="radio" id="radio2" value="all" <% if(cookies[:view] && cookies[:view] == "all") %>checked="checked"<% end %> /><label for="radio2">All Articles</label>
	<input type="radio" name="radio" id="radio3" value="favorite" <% if(cookies[:view] && cookies[:view] == "favorite") %>checked="checked"<% end %> /><label for="radio3">Favorite Articles</label>
  	<input type="radio" name="radio" id="radio4" value="hidden" <% if(cookies[:view] && cookies[:view] == "hidden") %>checked="checked"<% end %> /><label for="radio4">Hidden Articles</label>
  </div>
  </td><td>
  <div class="list_dropdown">
	<div>
		<!--<select name="list_id" onchange="set_list()">-->
		<div id="selector_button">
		<% if(cookies[:list] && cookies[:list] != '0')  %>
    	<button class="list_id" id="<%= cookies[:list] %>" value="<%= cookies[:list] %>"><%= List.find(cookies[:list]).name %></button>
		<% else %>
		<button class="list_id" id="0" value="0">All Feeds</button>
		<% end %>
		<button id="select">Select an action</button>
		</div>
		<div>
		<ul class="submenu"> 
		<li><a class="select_list" href="#" id="0">All Feeds</a></li>
     	<% for list in @lists %>
			<li id="<%= list.id %>"><a class="select_list" href="#" id="<%= list.id %>"><%= list.name %></a></li> 
      	<!--<button class="list_id" value="<%= list.id %>" <% if cookies[:list] == "#{list.id}" %>selected="selected"<% end %>><%= list.name %></button>-->
    	<% end %>
		</ul>
		</div>
	</div>
  </div>
</td></tr></table>
</div>

<% if @articles.empty? %>
	<p>No entries to display</p>
<% else %>
<script type="text/javascript">
$(document).ready(function(){
	 $('a.update_entry').click(function(event) {
         event.preventDefault();
         $.put($(this).attr("href"), {id: $(this).attr("id"), task: $(this).attr("task")}, function(data){
			 return false;
         });
     });
});
</script>
<script type="text/javascript">
    /*$(function(){
        $(".table_row_even").corner();
		$(".table_row_odd").corner();
    });*/
</script>

<% row = 1 %>
<% for article in @articles %>
<% entry = article.rss_entry %>
<%# if(rss_entry.cluster)
	cluster = Cluster.find(rss_entry.cluster)%>
	
<script type="text/javascript">
    $(document).ready(function(){
        $('#arrow-toggle<%= article.id %>').click(function(){
            $('.table_entry<%= article.id %>').slideToggle(400);
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#similar-toggle<%= article.id %>').click(function(){
            $('.table_entry_similar<%= article.id %>').slideToggle(400);
            return false;
        });
    });
</script>
<div class="news_container">
<% if(row%2==0) %><table class="table_row_even" width="100%">
<% else %><table class="table_row_odd" width="100%">
<% end %>
  <tr>
    <td colspan="2"><a target='_blank' href ='<%=h entry.link %>'><%=h entry.title %></a></td>
    <td width="26%"><%=h entry.published.strftime("%m/%d/%Y")%> at <%=h entry.published.strftime("%I:%M%p") %></td>
	<td width="14%">
		<div align="right">
		<%= form_remote_tag( :url => {:action => 'update', :id => article.id, :task => "favorite"}, 
		:before => "Element.show('spinner')", :complete  => "Element.hide('spinner')") %>
		<% if article.favorite %>
			<% star_img="<div class=star_link></div>" %>
		<% else %>
			<% star_img="<div class=star_link_gray></div>" %>
		<% end %>
		<%= link_to(star_img, rss_entry_path(article.id), :task => "favorite", :class=>'update_entry') %>
    	</form>
		</div>
	</td>
  </tr>
  <tr>
  	<td width="30%"><%=h article.rss_entry.source %></td>
	<td width="30%"><% if(article.cluster) %><table><tr><td>Similar Articles</td><td><span id="similar-toggle<%= article.id %>" class="ui-state-hover ui-corner-all ui-icon ui-icon-triangle-1-s"></span></td></tr></table><% end %></td>
	<td>
		<% if article.hidden
			hide_var = 'Unhide Article'
		else
			hide_var = 'Hide Article'
		end %>
    	<div align="center">
    		<%= link_to(hide_var, rss_entry_path(article.id), :task => "hide", :class => "update_entry") %>
		</div></td>
	<td><table><tr><td>See More</td><td><span id="arrow-toggle<%= article.id %>" class="ui-state-hover ui-corner-all ui-icon ui-icon-triangle-1-s"></span></td></tr></table></td>
  </tr>
</table>
<div class="table_entry<%= article.id %>" style="display:none; border:1px solid #999;">
	<% if(row%2==0) %><div class="table_description_even">
	<% else %><div class="table_description_odd">
	<% end %>
	<%=h entry.description %>
	</div>
</div>
<% if(article.cluster) %>
<div class="table_entry_similar<%= article.id %>" style="display:none; border:1px solid #999;">
	<% if(row%2==0) %><div class="table_description_even">
	<% else %><div class="table_description_odd">
	<% end %>
	<% cluster = Cluster.find(article.cluster) %>
	<%= cluster.get_followers(cluster, true) %><br /><br />
	Similarities: <%= cluster.get_matches(cluster).join(', ') %>
	</div>
</div>
<% end %>
</div> 	
<% row+=1 %>
<% end %>
<% end %>
<p>Showing articles <%= @start_article_num %> - <%= @end_article_num %> of <%= @num_of_articles %></p>
<div align = "center"><%= will_paginate @articles, :params => params %></div>