<script type="text/javascript">  
        $j(document).ready(function(){
			$j('a#arrow-toggle').click(function() {
    			$j('#table_entry').slideToggle(400);
    			return false;
  			});
        });
    </script>  

<% if @rss_entries.empty? %>
	<p>No entries to display</p>
<% else %>
<table cellpadding="1" id="report">
  <tr>
  	<th>Source</th>
    <th>Title</th>
    <th>Published</th>
	<th colspan="3">Options</th>
  </tr>
<% for rss_entry in @rss_entries %>

  <tr>
  	<td><%=h rss_entry.source %></td>
    <td><a target='_blank' href ='<%=h rss_entry.link %>'><%=h rss_entry.title %></a></td>
    <td><%=h rss_entry.published.strftime("%m/%d/%Y")%> at <%=h rss_entry.published.strftime("%I:%M%p") %></td>
	<td>
		<%= form_remote_tag( :url => {:action => 'update', :id => rss_entry.id, :task => "favorite"}, :method => 'put', 
		:before => "Element.show('spinner')", :complete  => "Element.hide('spinner')") %>
		<% if rss_entry.favorite %>
       		<%= image_submit_tag "/images/star.png", 
			:onmouseover => "this.src='/images/star_gray.png'", 
			:onmouseout => "this.src='/images/star.png'",:name => nil%>
		<% else %>
        	<%= image_submit_tag "/images/star_gray.png", 
			:onmouseover => "this.src='/images/star.png'", 
			:onmouseout => "this.src='/images/star_gray.png'",:name => nil%>
		<% end %>
    	</form>
	</td><td>
		<% if rss_entry.hidden
			hide_var = 'Unhide'
		else
			hide_var = 'Hide'
		end %>
    	<%= link_to_remote(hide_var, :url => { :action => "update", :id => rss_entry.id, :task => "hide" }, :method => 'put',
			:before => "Element.show('spinner')", :complete  => "Element.hide('spinner')") %></td>
	<td><div class="arrow"></div></td>
  </tr>
  <tr><td></td><td colspan="4"><div class="table_entry"><%=h rss_entry.description %></div></td><td></td></tr>
<% end %>
</table>
<% end %>
<div align = "center"><%= will_paginate @rss_entries, :params => params %></div>