<% if @rss_entries.empty? %>
	<p>No entries to display</p>
<% else %>
<script type="text/javascript">
$(document).ready(function(){
	 $('a.update_entry').click(function(event) {
         event.preventDefault();
         $.put($(this).attr("href"), {id: $(this).attr("id"), task: $(this).attr("task")}, function(data){
			 return false;
         });
     });
});
</script>
<table cellpadding="1" id="report">
  <tr>
  	<th width="15%">Source</th>
    <th width="53%">Title</th>
    <th width="15%">Published</th>
	<th width="17%">Options</th>
  </tr>
</table>

<% row = 1 %>
<% for rss_entry in @rss_entries %>
<script type="text/javascript">
    $(document).ready(function(){
        $('#arrow-toggle<%= rss_entry.id %>').click(function(){
            $('.table_entry<%= rss_entry.id %>').slideToggle(400);
            return false;
        });
    });
</script>

<% if(row%2==0) %><table id="table_row_even">
<% else %><table id="table_row_odd">
<% end %>
  <tr>
  	<td width="15%"><%=h rss_entry.source %></td>
    <td width="53%"><a target='_blank' href ='<%=h rss_entry.link %>'><%=h rss_entry.title %></a></td>
    <td width="15%"><%=h rss_entry.published.strftime("%m/%d/%Y")%> at <%=h rss_entry.published.strftime("%I:%M%p") %></td>
	<td width="4%">
		<div align="right">
		<%= form_remote_tag( :url => {:action => 'update', :id => rss_entry.id, :task => "favorite"}, 
		:before => "Element.show('spinner')", :complete  => "Element.hide('spinner')") %>
		<% if rss_entry.favorite %>
			<% star_img="<div class=star_link></div>" %>
		<% else %>
			<% star_img="<div class=star_link_gray></div>" %>
		<% end %>
		<%= link_to(star_img, rss_entry_path(rss_entry.id), :task => "favorite", :class=>'update_entry') %>
    	</form>
		</div>
	</td><td width="8%">
		<% if rss_entry.hidden
			hide_var = 'Unhide'
		else
			hide_var = 'Hide'
		end %>
    	<div align="center">
    		<%= link_to(hide_var, rss_entry_path(rss_entry.id), :task => "hide", :class => "update_entry") %>
		</div></td>
	<td width="5%"><span id="arrow-toggle<%= rss_entry.id %>" class="ui-state-hover ui-corner-all ui-icon ui-icon-triangle-1-s"></span></td>
  </tr>
</table>
<div class="table_entry<%= rss_entry.id %>" style="display:none;">
	<% if(row%2==0) %><div id="table_description_even">
	<% else %><div id="table_description_odd">
	<% end %>
	<%=h rss_entry.data %>
	</div>
</div>
<% row+=1 %>
<% end %>
<% end %>
<p>Showing articles <%= @start_article_num %> - <%= @end_article_num %> of <%= @num_of_articles %></p>
<div align = "center"><%= will_paginate @rss_entries, :params => params %></div>