
<%= javascript_include_tag 'application' %>
<style type="text/css"> 
 
#spinner_tag {display:block; float:right; position:fixed; }
* html #spinner_tag {position:absolute;}

</style> 
<script>
$(document).ready(function() {
	
	$('#spinner')
    .hide()  // hide it initially
    .ajaxStart(function() {
        $(this).show();
    })
    .ajaxStop(function() {
        $(this).hide();
    });
                
});
</script>

<div id="top_user_bar" class="styled_link">
	<span>Signed in as: <%= current_user.email %> | <%= link_to 'Account Settings', edit_user_registration_path, :class => 'styled_link' %> | <%= link_to 'Logout', destroy_user_session_path, :class => 'styled_link' %></span>
</div>
<%= image_tag 'loading.gif', :id=>'spinner',
:style=>"float:right; background-attachment: fixed; padding:5px;" %>
<div id="container">
	<div id="header">
		<h1>NewsEngage</h1>
		<div id="header_bar">
			<%= render :partial => 'header_bar' %>
		</div>
	</div>
    <div id="content">
		<%= render :partial => 'index_rss_entries' %>
	</div>
</div>
	<div id="footer">
		<%= render :partial => 'footer' %>
	</div>