<html>
  <head>
  <title>Feed: <%= controller.action_name %></title>
      <style type="text/css"> 
        body { font-family:Arial, Helvetica, Sans-Serif; font-size:0.8em;}
    </style> 
	<%= javascript_include_tag 'jquery-1.4.2.js' %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag 'jquery-ui-1.8.2.custom.min.js' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.2.custom' %>
	<%= javascript_include_tag 'jExpand' %>
	<%= javascript_include_tag 'jquery.corner' %>
    </head>
    <body>
        <!--<p style="color: green">
            <%#= flash[:notice] %>
        </p>-->
        <%= yield %>
    </body>
</html>