<html>
  <head>
  <title>Rss Entry: <%= controller.action_name %></title>
      <style type="text/css"> 
        body { font-family:Arial, Helvetica, Sans-Serif; font-size:0.8em;}
        #report { border-collapse:collapse;}
        #report h4 { margin:0px; padding:0px;}
        #report img { float:right;}
        #report ul { margin:10px 0 10px 40px; padding:0px;}
        #report th { background:#7CB8E2 url(images/header_bkg.png) repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
        #testerxxx td { background:#7CB8E2 none repeat-x scroll center left; color:#000; padding:7px 15px; }
		#report td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
        #report div.arrow { background:transparent url(images/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
        #report div.up { background-position:0px 0px;}
    </style> 
	<%= javascript_include_tag 'jquery-1.4.2.js' %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag 'jquery-ui-1.8.2.custom.min.js' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.2.custom' %>
	<%= javascript_include_tag 'jExpand' %>
	<%= javascript_include_tag 'jquery.corner' %>
    <%= javascript_include_tag 'application' %>
    </head>
    <body>
        <p style="color: green">
            <%= flash[:notice] %>
        </p>
        <%= yield %>
    </body>
    </html>